p Ciao #{@resource.email}!
p E' stata richiesta la modifica della password del tuo account. Puoi eseguirla cliccando sul link in basso.
p= link_to 'Modifica la mia password', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
p Se non sei stato tu a richiedere la modifica, ignora questa mail.
p La tua password non cambierà fino a quando non la modificherai attraverso il link fornito.
